@{
    ViewData["Title"] = "Home Page";
}

<h3 class="display-4">Weather</h3>
<p id="error-message" class="text-danger"></p>
<div class="container">
    <div class="row">
        <div class="col-sm-2"><button id="button-all">Get All</button></div>
        <div class="col-sm-4"><div id="results-all"></div></div>
        <div class="col-sm-2"><button id="button-warmest">Get Warmest</button></div>
        <div class="col-sm-4"><div id="results-warmest"></div></div>
    </div>
</div>
